.promo-section{
    position: relative;
    
    
    &__loyality{
        left: 50%;
        margin: 0 auto;
        width:140rem;
        height: 19.75rem;
        gap: 0;
        background-color:#FFE600;
        border-radius: 2.5rem;
    }
    .master-button{
        margin: 200px;
        width:14.333rem;
        height: 5.833rem;
        background-color: $bg-primary;
        border-radius: 1rem;
        text-align: center;
        vertical-align: middle;
        &__butt{
            font-size: 2rem;
            line-height: 5.833rem;
        }
    }



}